*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #100909;
}
section.circle{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b10b16;
    clip-path: circle(20% at center center);
}